* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:700i|Lato:400,400i,700,700i&subset=latin-ext');

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    margin: 0px;
    background-color: #F5F5F5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#site-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px 15px 0px 15px;
    background-color: #fff;
    width: 100%;
    color: #870400;
}

#logo {
    background-image: url(/images/QuestCalligraphyLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 8em;
    color: #870400;
}

.whitebackground {
    background-color: #fff;
    padding-top: 15px;
}

.material-icons {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

nav {
    padding-top: 0em;
    padding-bottom: 1em;
    font-size: 1em;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav li {
    margin-right: 7px;
    font-size: 125%;
    display: inline;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10000fr 1fr;
    grid-gap: 10px;
    background-color: #F5F5F5;
    padding: 15px;
    width: 100%;
}

@media all and (max-device-width: 990px) {
    .sidebar {
        display: none;
    }
    .searchbar {
        display: none;
    }
    main {
        grid-template-columns: 1fr;
    }
}

#search {
    background-color: rgb(135, 4, 0);
    padding: 16px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    margin-bottom: 8px;
}

#searchbar {
    display: block;
    width: 99%;
    margin: auto;
}

.sidebar {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

#sidebarlink {
    display: inline-block;
    font-weight: 400;
    font-size: 95%;
    color: rgb(135, 4, 0);
    text-decoration: none;
}

#sidebar-headline {
    font-style: italic;
    font-family: "EB Garamond", georgia, "times new roman", serif;
    color: #000;
    text-decoration: none;
    margin: 0px;
}

#sidebar-content {
    margin-top: 0.5em;
    margin-bottom: 0px;
}

#readmore {
    margin-left: 2px;
    vertical-align: -0.05em;
    display: inline-block;
    font-size: 0.8em;
}

.post {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.5em;
}

.section-title {
    background-color: rgb(135, 4, 0);
    color: #fff;
    padding: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: x-small;
}

.post-list {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.single-post {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0.1px 4px 0 rgba(0,0,0,0,0.14);
}

.summary {
    margin: 0.5em 0px;
    padding-left: 0.5px;
}

.author-page {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.author-title {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 0em;
    padding-bottom: 0.5em;
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-weight: 700;
    font-style: italic;
    font-family: "EB Garamond", georgia, "times new roman", serif;
    color: #000;
    text-decoration: none;

}

#headline {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 700;
    font-style: italic;
    font-family: "EB Garamond", georgia, "times new roman", serif;
    color: #000;
    text-decoration: none;
    margin-bottom: 0.25em;
}

#single-headline {
    font-size: 2.25rem;
    line-height: 2.375rem;
    font-weight: 700;
    font-style: italic;
    font-family: "EB Garamond", georgia, "times new roman", serif;
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25em;
}

#headline a:hover {
    box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 black;
}

#headline a:active {
    border-bottom: 1px solid black;
}

#headline a:visited {
    color: #000;
}

.post-metadata {
    font-size: 80%;
    color: rgb(153, 153, 153);
    border-top: 1px solid #d9d9d9;
    padding-top: 0.5em;

}

.post-categories {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 95%;
    color: rgb(135, 4, 0);
    margin: 0.5em 0em;
    text-decoration: none;
}

.post-tags {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 95%;
    color: rgb(135, 4, 0);
    margin: 0.5em 0em;
    text-decoration: none;
}

@media all and (max-device-width: 364px) {
    .dividerdot {
        margin-right: 1em;
    }
    .dividerdot::after {
        display: none;
    }
}

.dividerdot {
    display: inline-block;
    font-size: 80%;
}

.dividerdot::after {
    content: '\00B7';
}

.reading-time {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 80%;
    color: rgb(135, 4, 0);
    margin: 0.5em 0em;
}

.byline {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: rgb(153, 153, 153);
    padding-left: 0.5px;
}

.byline a {
    text-decoration: none;
}

.date {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 80%;
    font-weight: 400;
    color: rgb(153, 153, 153);
    padding-left: 5px;
}

footer {
    display: flex;
    border-top: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
