<span>
        <form method="get" id="search" action="http://duckduckgo.com/">
                <input type="hidden" name="sites" value="www.reedquest.org"/>
                <input type="hidden" name="k8" value="#444444"/>
                <input type="hidden" name="k9" value="#D51920"/>
                <input type="hidden" name="kt" value="h"/>
                <input type="text" id="searchbar" name="q" placeholder="Search"/>
        </form>
        <div class="sidebar">
                <h3 id="sidebar-headline">About <em>The Quest</em></h3>
                <p id="sidebar-content"><em>The Quest</em> is the independently run student newspaper of Reed 
                College. The first edition of <em>The Quest</em> was printed in 1913. The
                print edition of <em>The Quest</em> currently publishes every Friday 
                throughout the academic year. <a id="sidebarlink" href="/about/">Read 
                more<i id="readmore" class="material-icons">arrow_forward</i></a></p>
        </div>
</span>
